#spinner {
  display: none;
}

#load_timeline_status {
  display: none;
}

.status {
  display: none;
}

#spinner img {
  border-width: 0px;
  width: 16px;
  height: 16px;
}

#message {
  display: none;
  background: #eeeeee;
  font-size: 14px;
}